<div class="container">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
              <h1>Happee</h1>
              <p>An app which measures yourf slack channel happiness!</p>
          </div>
      </div>
  </div>
</div>
